# Core functionality - changes here should be rare!
/src/app.py                   @edather22
/src/backend/database.py      @edather22
/src/backend/routers/auth.py  @edather22

# The frontend will need refactored soon to be more object oriented.
/src/static/   @edather22
